.cardShoes{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    cursor: default;

    &__container{
        position: relative;
        overflow: hidden;
        width: 23%;
        height: 480px;
        padding: 15px;
        border-radius: 15px;
        background-image: linear-gradient(135deg, #e4dede 10%, #ffffff 100%);
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
        transform-style:preserve-3d;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        margin: 20px;
        
        .shoes .cardShoes__container{
            height: 150px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
       
        .shoes{
            height: auto;
            max-width: 100%;
            transform: translateZ(50px);
            max-height: 145px;
            width: 240px;
            position: relative;
            top: 0;
            left: 0;
        
        }
        .category{
            transform: translateZ(30px);
            font-weight: bolder;
            font-size: 24px;
            text-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
            align-self: start;

            & .sub-head{
                font-size: 12px;
                color: rgba(0, 0, 0, 0.651);
                margin-bottom: 2px;
            }

        }
        
        .description{
            transform: translateZ(25px);
            text-align: justify;
            text-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
        }

        .read-more{
            text-decoration: none;
            border: 0;
            outline: 0;
            height: 40px;
            padding: 10px 25px;
            border-radius: 50px;
            box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
            transform: translateZ(30px);
            font-size: 16px;
            font-weight: medium;

            &:hover{
                cursor: pointer;
            }
            
        }
    }
}

body .js-tilt-glare{
    pointer-events: none; 
 }


 //Meadi Queries
 @include respond (tablet){
    .cardShoes{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        cursor: default;
        overflow: visible;
    
        &__container{
            position: relative;
            overflow: hidden;
            width: 50%;
            height: 580px;
            padding: 15px;
            border-radius: 15px;
            background-image: linear-gradient(135deg, #e4dede 10%, #ffffff 100%);
            box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
            transform-style:preserve-3d;
            display: flex;
            flex-flow: column;
            justify-content: space-around;
            align-items: center;
            margin: 20px;
        }
    }
}
 @include respond (mobile){
    .cardShoes{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        cursor: default;
        overflow: visible;
    
        &__container{
            position: relative;
            overflow: hidden;
            width: 90%;
            height: 580px;
            padding: 15px;
            border-radius: 15px;
            background-image: linear-gradient(135deg, #e4dede 10%, #ffffff 100%);
            box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
            transform-style:preserve-3d;
            display: flex;
            flex-flow: column;
            justify-content: space-around;
            align-items: center;
            margin: 20px;
        }
    }
}