

@mixin respond ($breakpoint) {
    @if $breakpoint==tablet { 
    @media only screen and (max-width: 768px) {
      @content;
    }
  }
  @if $breakpoint==mobile {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }
}

@mixin grid($colums){
  display: grid;
  grid-template-columns: repeat($colums, 1fr);
}

@mixin gridRow($rows){
  grid-template-rows: repeat($rows,1fr);
}